<footer class="gov-footer">

    <div class="gov-footer-container">

        <div class="gov-footer-block">
            <strong>Navegadores Recomendados</strong>
            <span>Chrome, Edge, Firefox (versiones actualizadas)</span>
        </div>

        <div class="gov-footer-block">
            <strong>
                AGRO RURAL
            </strong>
            <span>Jirón Cahuide 805, Jesús María 15072</span>
        </div>

        <div class="gov-footer-block">
            <strong>Desarrollado por la Sub Unidad de Tecnologías de la Información</strong>
            <span>
                📞 Consultas: (01) 2058030 Anexo 0105
            </span>
            <span>
                🕓 Horario: Lunes a Viernes de 8:30 a. m a 4:30 p. m.
            </span>
        </div>

    </div>

</footer> 