 

/* CONTENEDOR */
/*.gov-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}*/

/* IZQUIERDA */
/*.gov-left {
    display: flex;
    align-items: center;
    gap: 10px;
}*/

/* LOGO */
/*.gov-logo {
    width: 45px;
}*/

/* TITULOS */
/*.gov-title {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}*/

/* DERECHA (DESKTOP) */
/*.gov-right {
    display: flex;
    gap: 10px;
}*/

/* BOTONES */
/*.gov-btn-outline {
    padding: 8px 14px;
    border: 1px solid #0f172a;
    border-radius: 6px;
    text-decoration: none;
    color: #0f172a;
    font-size: 13px;
    transition: all 0.2s ease;
}

    .gov-btn-outline:hover {
        background: #0f172a;
        color: white;
    }*/

/* BOTÓN MENÚ */
/*.gov-menu-btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}*/

/* =========================
   📱 MOBILE HEADER
========================= */
/*@media (max-width: 768px) {

    .gov-container {
        flex-wrap: wrap;
    }

    .gov-menu-btn {
        display: block;
    }

    .gov-right {
        width: 100%;
        flex-direction: column;
        display: none;
        margin-top: 10px;
    }

        .gov-right.show {
            display: flex;
        }

    .gov-btn-outline {
        width: 100%;
        text-align: center;
    }

    .gov-title {
        font-size: 11px;
    }
}*/



